/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.room {
max-width: 100%;
}

.label-room {
text-align: center;
  font-size: 25px;

}

.input-room {
  width: 160px;
  height: 25px;
  margin: 10px 16px;
  border-radius: 8px;
  border: solid 2px rgb(37, 90, 234);
}

.btn-room {
  width: 160px;
  height: 30px;
  font-size: 20px;
  margin-left: 20px;
  border:solid 2px rgb(37, 90, 234);
  background-color: rgb(37, 90, 234);
  color: white;
  border-radius: 6px;
}

.btn-room:hover {
  color:rgb(37, 90, 234);
  background-color: white;
  cursor: pointer;
}